@import "../../globals.css";

:root {
  --dot-height: var(--spacing-8);
  --opacity-transition: opacity var(--duration-700) var(--linear);
}

.loading__indicator {
  display: grid;
  place-items: center;
  height: 100svh;
  width: 100vw;
  position: fixed;

  z-index: 1000;
  background-color: var(--base-light);
  svg {
    max-width: var(--spacing-60);
    animation: loading_spinner 1s linear infinite;
  }
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hero {
  height: 90dvh;
  grid-column: full;
  container: hero / inline-size;

  header {
    position: absolute;
    top: 50%;
    z-index: 1;

    h1 {
      margin-bottom: var(--spacing-20);

      @container (width > 1024px) {
        margin-bottom: var(--spacing-36);
      }
    }

    @container (width > 1024px) {
      padding-left: var(--spacing-260);
    }
  }

  h1 {
    @container (width > 1024px) {
      font-size: var(--text-2xl);
      height: 2em;
      text-wrap: balance;
      width: 99%;
    }
  }
}

.slide__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      min-width: 100%;
      object-fit: cover;
      opacity: var(--opacity-50);
      filter: grayscale(100%);
    }

    a {
      position: absolute;
      left: 0;
      bottom: calc(var(--spacing-28) + var(--dot-height));
      padding-inline: var(--universal-inline-padding);
      width: fit-content;
      height: fit-content;

      &:hover {
        h2 {
          opacity: var(--opacity-50);
          transition: opacity var(--duration-300) var(--ease-in-out-quint);
        }

        h2 span {
          margin-left: var(--spacing-20);
          transition: margin var(--duration-300) var(--ease-in-out-quint);
        }
      }

      h2 {
        max-width: 50vw;
        font-size: var(--text-base);
        font-weight: var(--font-weight-regular);
        transition: opacity var(--duration-300) var(--ease-in-out-quint);

        span {
          margin-left: var(--spacing-12);
          transition: margin var(--duration-300) var(--ease-in-out-quint);
        }

        @container (width > 1024px) {
          min-width: fit-content;
        }
      }

      p {
        max-width: 99%;
        text-wrap: balance;
        font-size: var(--text-sm);
      }

      @container (width > 1024px) {
        padding-left: 0;
        top: 50%;
        left: 70%;

        h2 {
          font-family: var(--font-serif);
          font-size: var(--text-md);
        }

        p {
          max-width: 100%;
        }
      }
    }
  }
}

.carousel__controls {
  position: absolute;
  z-index: 1;
  bottom: var(--spacing-36);
  padding-right: var(--spacing-4);
  right: 0;
  button {
    min-height: var(--spacing-44);
    min-width: var(--spacing-44);
    transition: opacity var(--duration-300) var(--linear);

    &:hover {
      opacity: var(--opacity-50);
      transition: opacity var(--duration-300) var(--linear);
    }
  }
}

.show {
  opacity: 1;
  @media (prefers-reduced-motion: no-preference) {
    transition: var(--opacity-transition);
  }
}

.hide {
  opacity: 0;
  @media (prefers-reduced-motion: no-preference) {
    transition: var(--opacity-transition);
  }
  z-index: -1;
}

.carousel__dot__group {
  display: flex;
  position: absolute;
  gap: var(--spacing-8);
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  bottom: var(--spacing-16);

  @container (width > 1024px) {
    width: 33%;
    right: 0;
  }
}

.dot {
  position: relative;
  overflow: hidden;
  height: var(--dot-height);
  aspect-ratio: var(--1-1);
  background-color: var(--base-lightGray);
  border-radius: var(--rounded-full);
  transition: flex var(--duration-700) var(--ease-in-out-quint);

  &:hover {
    cursor: pointer;
    opacity: var(--opacity-50);
  }
}

.dot__active {
  flex-grow: 1;
  transition: flex var(--duration-700) var(--ease-in-out-quint);
}

.dot__slider {
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-full);
  background-color: var(--base-dark);
}

.dot__timer {
  animation: dot__timer linear infinite;
}

@keyframes dot__timer {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes loading_spinner {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  50% {
    scale: 1.2;
  }

  100% {
    transform: rotate(360deg);
  }
}
