/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

*:focus-visible {
  outline: 1px solid var(--base-dark);
  outline-offset: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

:root {
  /* Colors */
  --base-dark: #131313;
  --base-light: #ffffff;
  --base-lightGray: #565856;
  --brand-endorse-lightGray: #565856;

  /* Fonts */
  --font-sans: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  --font-serif: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.25rem;
  --text-3xl: 3rem;
  --text-4xl: 4rem;

  /* Line height */
  --line-height-body: 120%;
  --line-height-heading: 110%;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-36: 2.25rem;
  --spacing-44: 2.75rem;
  --spacing-60: 3.75rem;
  --spacing-260: 16.25rem;

  /* Border Radius */
  --rounded-full: 9999px;

  /* Border width */
  --border-base: 1px;

  /* Aspect Ratio */
  --1-1: 1 / 1;
  --4-3: 4 / 3;
  --16-9: 16 / 9;

  /* Opacity */
  --opacity-50: 0.5;
  --opacity-100: 1;

  /* Transition Durations */
  --duration-150: 150ms;
  --duration-300: 300ms;
  --duration-700: 700ms;
  --duration-1500: 1500ms;

  /* Easings */
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
  --linear: linear;
}

/* Animations */

/* Global styles */

html {
  background-color: var(--base-light);
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  font-size: var(--text-base);
  font-weight: var(--font-weight-light);
}
