---
import Footer from "@/components/Footer.astro";
import Navigation from "@/components/Navigation.astro";
import { fetchData } from "@/lib/fetchData";

interface MetadataProps {
  homepage: {
    seo: {
      attributes: string;
      content: string;
      tag: string;
    }[];
  };
  allPages: {
    slug: string;
  }[];
}

const data = await fetchData<MetadataProps>(`{
    homepage {
      seo: _seoMetaTags {
        attributes
        content
        tag
      }
    }
    allPages {
      slug: pageSlug
    }
  }`);
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="src/globals.css" />
  </head>
  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: [full-start] 1fr [col-1] 1fr [col-2] 1fr [col-3] 1fr [col-4] 1fr [col-5] 1fr [full-end];
    column-gap: var(--spacing-20);
  }

  main > * {
    padding-inline: var(--universal-inline-padding);
  }

  main,
  .full-bleed {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    align-content: start;

    > :not(&) {
      grid-column: full;
    }
  }
</style>
